<nav class="flex items-center justify-between flex-wrap bg-blue-500 p-6 font-mono">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <img src="../assets/car.png" class="h-10 w-24 mr-6">
    <a href="/home" class="block mt-4 lg:inline-block lg:mt-0 text-xl tracking-tight text-teal-200 hover:text-gray-700">
      Meu Carro Ideal
    </a>
  </div>
  <div class="block lg:hidden">
    <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <title>Menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
      </svg>
    </button>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">
      <a href="/cars" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
        Pesquisar
      </a>
      <a href="/contato" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
        Contato
      </a>
    </div>
    <div>
      <a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Entre Aqui</a>
    </div>
    <div class="ml-4">
      <a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Registrar</a>
    </div>
  </div>
</nav>

<body class="bg-yellow-100 font-mono lg:items-center x1:items-center text-center">
  <div class="flex-grow px-48 py-4 m-0">
    <div class="py-12 pb-10">
      <p>Inicie sua pesquisa preenchendo os campos abaixo:</p>
    </div>

    <div class="lg:min-h-screen lg:flex-grow lg:items-center bg-white shadow-xl rounded-md border border-gray-300">
      <div class="flex-grow items-center">
        <form class="rounded px-14 pt-6 pb-8 mb-4 text-left">
          <div class="grid grid-cols-2 justify-items-center">

            <div class="mb-6">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="marca">
                Marca
              </label>
              <input class="items-center shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="marca" type="text" placeholder="Digite...">
            </div>
            <div class="mb-6">
              <label class="block text-gray-700 text-sm font-bold mb-2">
                Modelo
              </label>
              <input class="shadow appearance-none border border-red-500 rounded py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="modelo" type="text" placeholder="Digite...">
            </div>

            <div class="mb-6">
              <label class="block text-gray-700 text-sm font-bold mb-2">
                Ano Fabricação
              </label>
              <input class="shadow appearance-none border border-red-500 rounded text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="ano" type="date" placeholder="Digite...">
            </div>

            <div class="mb-6">
              <label class="block text-gray-700 text-sm font-bold mb-2">
                Motorização
              </label>
              <input class="shadow appearance-none border border-red-500 rounded py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="motor" type="text" placeholder="Digite...">
            </div>

            <div class="mb-6">
              <label class="block text-gray-700 text-sm font-bold mb-2">
                Tipo de Combustível
              </label>
              <input class="shadow appearance-none border border-red-500 rounded py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="combustivel" type="text" placeholder="Digite...">
            </div>

            <div class="mb-6">
              <label class="block text-gray-700 text-sm font-bold mb-2">
                Faixa de Valor
              </label>
              <input class="shadow appearance-none border border-red-500 rounded py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="valor" type="number" placeholder="Digite...">
            </div>

            <div class="mb-6">
              <label class="block text-gray-700 text-sm font-bold mb-2">
                Pesquisar Seguro?
              </label>
              <input class="shadow appearance-none border border-red-500 rounded py-2 px-2 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="seguro" type="checkbox">
            </div>

            <div class="grid grid-cols-1 justify-items-center">
              <div class="flex items-center justify-between">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                  Pesquisar
                </button>
              </div>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>

</body>