<body class="bg-yellow-100">
  <div class="grid grid-cols-1 lg:grid-cols-2">
    <div class="bg-blue-400 lg:min-h-screen lg:flex lg:items-center p-8 sm:p-12">
      <div class="lg:min-h-screen lg:flex lg:items-center p-12 lg:p-24 xl:p-48 sm:flex sm:flex-col sm:items-center x1:p-48">
        <img src="../assets/mycar_logo.png" class="sm:flex-shrink-0 rounded-full mb-3">
        <h1 class="font-mono text-white text-center text-3xl sm:text-5xl mb-3">Meu Carro Ideal</h1>
        <p class="font-mono text-white text-center text-2xl mb-2">Seja Bem Vindo!</p>
        <p class="text-center text-blue-200 sm:text-lg">
          Clique em Registrar para iniciar seu registro
        </p>
      </div>
    </div>

    <div class="lg:min-h-screen lg:flex lg:items-center p-12 lg:p-24 xl:p-48">
      <div class="flex-grow bg-white  shadow-xl rounded-md border border-gray-300 p-8">
        <div class="flex items-center">
          <div class="sm:flex sm:items-center">
            <img src="../assets/comp.png" class="sm:flex-shrink-0 mx:auto sm:mx-0 h-24 rounded-full">
            <div class="sm:ml-4 sm:text-left text-center">
              <p class="font-mono text-center text-xl"> Comece Agora</p>
              <div class="mt-4">
                <button type="button" class="font-mono text-blue-800 hover:text-black hover:bg-yellow-200 border border-yellow-200 font-semibold rounded-md text-xl px-4 py-1 focus:outline-none"> Registrar </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>